{% from "components/Filter/Filter.njk" import Filter as Presets %}

{% macro DragController(bem, data) %}

  <div class="DragController">
    <div class="DraggerController-Presets">
      {{Presets({mix: "DragController-Filter"}, data.presets)}}
    </div>
    <div class="DragController-ControllerBlock">
      <div class="DragController-Scale">
        <div class="DragController-LowBoundaryCondition">{{ data.boundaryCondition.low }}</div>
        <div class="DragController-HightBoundaryCondition">{{ data.boundaryCondition.high }}</div>
        <div class="DragController-Manipulator"></div>
      </div>
    </div>
  </div>

{% endmacro %}