{% macro RotationalController(bem, data, a11y) %}

<div class="RotationalController {{bem.mix}} {{bem.mod}}">
  <div class="RotationalController-Controller">
    <div class="RotationalController-Pie">
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg width="220px" height="220px" viewBox="0 0 220 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle class="RotationalController-PieCircle" r="110" cx="110" cy="110" stroke-dasharray="0 691"></circle>
      </svg>
    </div>
    <div class="RotationalController-Scale" style="pointer-events: none"></div>
    <div class="RotationalController-IdicatorBlock">
      <div class="RotationalController-Value"><b>+23</b></div>
      <div class="RotationalController-Indicator">
      </div>
    </div>
    <div class="RotationalController-WhiteSpace"></div>
  </div>
</div>

{% endmacro %}