.RotationalController {
  display: flex;
  width: 100%;
  justify-content: center;

  &-Controller {
    width: 221px;
    height: 221px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-Scale {
    background-image: url('../assets/Oval-reverse_v2.svg');
    background-size: contain;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
  }

  &-Pie {
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
    position: absolute;
    transform: rotate(-271deg);

    svg {
      background: $text-color_primary;
      border-radius: 50%;
    }
  }

  &-PieCircle {
    position: absolute;
    fill: $text-color_primary;
    stroke: $accent-color;
    stroke-width: 297;
  }

  &-IdicatorBlock {
    width: 178px;
    height: 178px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 2;
    border-radius: 50%;
    border: 0;
    background-color: #fefefe;
    box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  }

  &-Indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-151deg);
    &:before {
      content: ' ';
      position: absolute;
      left: 50%;
      transform: rotate(-90deg);
      border-right: 0;
      width: 0;
      height: 0;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      border-left: 10px solid #{$text-color_primary};
    }
  }

  &-WhiteSpace {
    position: absolute;
    bottom: -2px;
    left: 64px;
    height: 43px;
    background-color: $background-color_primary;
    transform: perspective(4.7em) rotateX(40deg);
    width: 101px;
  }

  &-Value {
    font-size: 4.13rem;
    position: relative;
    left: 4px;
  }
}

@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@keyframes bg {
  50% {
    background: $accent-color;
  }
}
