{% macro RotationalController(bem, data) %}

<div class="RotationalController {{bem.mix}} {{bem.mod}}">
  <div class="RotationalController-Controller">
    <div class="RotationalController-Pie"></div>
    <div class="RotationalController-Scale"></div>
    <div class="RotationalController-IdicatorBlock">
      <div class="RotationalController-Value"><b>+23</b></div>
      <div class="RotationalController-Indicator"></div>
    </div>
    <div class="RotationalController-WhiteSpace"></div>
  </div>
</div>

{% endmacro %}