.Panel {
  $icon-size: 24px;
  $panel-padding: 14px;
  width: 200px;
  height: 120px;
  background-color: $background-color_secondary;
  border-radius: $border-radius_primary;
  padding: $panel-padding;
  position: relative;
  box-sizing: border-box;
  font-family: $font-family;
  text-align: initial;
  border: 0;
  color: $text-color_primary;
  display: block;

  &:hover {
    cursor: pointer;
    background: $background-color_primary;
    box-shadow: 0 2px 6px 0 #{rgba(#c5baba, 0.5)};
  }

  &-Content {
    position: absolute;
    bottom: $panel-padding;
    width: calc(100% - 2 * #{$panel-padding});
  }

  &-Title {
    font-size: 0.88rem;
    margin: 0;
  }

  &-Description {
    font-size: 0.75rem;
    margin: 5px 0 0 0;
    color: $text-color_secondary;
  }

  &-IconWrapper {
    position: absolute;
    top: $panel-padding;
  }

  &-Icon {
    width: $icon-size;
    height: $icon-size;
    position: absolute;

    &_state_active {
      visibility: hidden;
    }

    &_state_default {
      visibility: visible;
    }
  }

  &.Panel_state_active {
    .Panel-Icon_state_active {
      visibility: visible;
    }

    .Panel-Icon_state_default {
      visibility: hidden;
    }
  }

  &_size_small {
    height: 100px;
  }
}

@media (max-width: 850px) {
  .Panel {
    &:hover {
      background-color: $background-color_secondary;
      box-shadow: initial;
    }

    &:active {
      background: $background-color_primary;
      box-shadow: 0 2px 6px 0 #{rgba(#c5baba, 0.5)};
    }
  }
}
