{% macro Panel(bem, data, a11y) %}

  {% if data.isActive %}
    {% set state = "Panel_state_active" %}
  {% else %}
    {% set state = "" %}
  {% endif %}

  {% if data.tags %}
    <button
      class="Panel {{bem.mod}} {{bem.mix}} {{state}}"
      data-icon-type={{ data.type }}
      data-tags={{ data.tags | join(",") }}
      data-controller={{ data.controller }}
      data-current-value={{ data.currentValue }},
      type="button"
    >
  {% else %}
    <button class="Panel {{bem.mod}} {{bem.mix}} {{state}}" data-icon-type={{ data-type }} tabindex="{{a11y.tabindex}}" type="button">
  {% endif %}

    {% if data.type == "sun" %}
      {% set ariaLabel = "иконка: свет" %}
    {% elif data.type == "temperature" %}
      {% set ariaLabel = "иконка: датчик температуры" %}
    {% endif %}

    <span class="Panel-IconWrapper" aria-hidden="true">
      <img class="Panel-Icon Panel-Icon_state_active" src="../assets/icon_{{data.type}}_active.svg" alt="{{ ariaLabel }} включен">
      <img class="Panel-Icon Panel-Icon_state_default" src="../assets/icon_{{data.type}}.svg" alt="{{ ariaLabel }} выключен">
    </span>
    <span class="Panel-Content">
      <b class="Panel-Title">{{ data.title }}</b>
      <br>

      {% if data.description %}
        <small class="Panel-Description">{{ data.description }}</small>
      {% endif %}

    </span>
  </button>

{% endmacro %}