.Header {
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  border-bottom: 1px solid $divider-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 45px;
  flex-shrink: 0;

  &-Menu {
    margin-left: 49px;
    font-weight: bold;
    position: relative;
    top: 2px;
  }
}

@media (max-width: 850px) {
  .Header {
    justify-content: space-between;
    padding: 0 20px;
    border: 0;
    height: 66px;
    position: fixed;
    background-color: $background-color_primary;
    z-index: 100;

    .Menu-Button {
      display: inline-block;
    }

    .Menu-ListItem {
      display: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.13rem;
      background-color: rgba($background-color_primary, 0.9);
    }

    .Menu-Item {
      margin-top: 30px;
      margin-right: 0;
    }
  }
}
