{% from "components/Logo/Logo.njk" import Logo %}
{% from "components/Menu/Menu.njk" import Menu %}

<header class="Header">
  {{ Logo({ mix: 'Header-Logo' }) }}
  {{ Menu({ mix: 'Header-Menu' }, mainNavigation) }}
</header>
