.GridSlider {
  &-Title {
    margin: 0 0 20px;
    font-size: 1.13rem;
  }

  &-ItemsList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-content: flex-start;
    margin: 0 -15px 0 0;
    padding: 0;
    transition: $pan-transition;

    &.ItemList_clone {
      position: absolute;
    }
  }

  &-Item {
    margin: 0 15px 15px 0;
  }

  &-Grid {
    display: flex;
    position: relative;
    height: calc(100vh - 430px);
  }

  &-Header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }

  &-Switch {
    margin-top: 3px;
    margin-right: 4px;
    align-self: flex-start;
  }
}

@media (max-width: 850px) {
  .GridSlider {
    &-Grid {
      height: auto;
      margin: 0 0 0 -20px;
      padding: 0 0 0 20px;
      width: 100vw;
      box-sizing: border-box;
      overflow: hidden;
    }

    &-ItemsList {
      flex-wrap: nowrap;
      flex-shrink: 0;
    }

    &-Item:last-child {
      margin: 0 0 0 0;
    }
  }
}
