{% from "components/Panel/Panel.njk" import Panel %}
{% from "components/Switch/Switch.njk" import Switch %}

{% macro GridSlider(bem, data, a11y) %}

<section class="GridSlider {{bem.mod}} {{bem.mix}}">
  <header class="GridSlider-Header">
    <h2 class="GridSlider-Title">{{data.title}}</h2>
    {{ Switch({mod: "GridSlider-Switch"}, {}) }}
  </header>
  <div class="GridSlider-Grid">
    <ul class="GridSlider-ItemsList">
      {% for item in data.panels %}
        <li class="GridSlider-Item" data-id={{loop.index}}>
          {{ Panel({mod: "Panel_size_small"}, item)}}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endmacro %}