{% from "components/Panel/Panel.njk" import Panel %}

{% macro GridSlider(bem, data) %}

<section class="GridSlider {{bem.mod}} {{bem.mix}}">
  <header>
    <h2 class="GridSlider-Title">{{data.title}}</h2>
  </header>
  <div class="GridSlider-Grid">
    <ul class="GridSlider-ItemsList">
      {% for item in data.panels %}
        <li class="GridSlider-Item">
          {{ Panel({mod: "Panel_size_small"}, item)}}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endmacro %}