.VerticalSlider {
  position: relative;
  flex-shrink: 0;

  &-Item {
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
    pointer-events: none;
  }

  &-ItemList {
    margin: 0;
    transition: $pan-transition;
  }

  &-Button {
    position: absolute;
    bottom: 8px;
    right: 87px;
    border-width: 0;
    background: transparent;
    transition: 200ms linear opacity;

    &:hover {
      cursor: pointer;
    }
  }

  .Panel {
    pointer-events: none;
  }
}

@media (max-width: 850px) {
  .VerticalSlider {
    height: calc(100% - 20px);
  }
}

@media (max-width: 650px) {
  .VerticalSlider {
    height: auto;
    &-ItemList {
      display: flex;
      padding: 0;
      margin-left: 21px;
      margin-bottom: 20px;
    }

    &-Item {
      margin: 0 20px 0 0;
    }

    &-Button {
      display: none;
    }
  }
}
