.Button {
  font-size: 1.13rem;
  border: 0;
  color: $text-color-primary;
  height: 60px;
  background-color: $background-color_primary;
  border-radius: $border-radius_primary;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: darken($background-color_primary, 3%);
  }

  b {
    position: relative;
    top: 2px;
    left: 1px;
  }

  &_type_submit {
    background-color: $accent-color;

    &:hover,
    &:active {
      background-color: $accent-color_dark;
    }
  }
}

@media (max-width: 850px) {
  .Button {
    &:hover {
      background-color: $background-color_primary;
    }

    &_type_submit {
      &:hover {
        background-color: $accent-color;
      }
    }
  }
}
