{% macro Button(bem, data, a11y) %}

  {% if data.type == "submit" %}
    {% set type = "Button_type_submit" %}
  {% else %}
    {% set type = "" %}
  {% endif %}

  <button class="Button {{bem.mix}} {{bem.mod}} {{type}}"><b>{{data.content}}</b></button>

{% endmacro %}