.Menu {
  font-size: 1em;

  &-ListItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &-Item {
    margin-right: 28px;

    a {
      text-decoration: none;
      color: $text-color_primary_light;

      &:hover {
        color: $text-color_primary;
      }
    }

    &_state_active a {
      color: $text-color_primary;
    }
  }

  &_size_small {
    font-size: 0.75em;

    .Menu-Item {
      margin-right: 17px;
    }
  }
}
