{% macro Menu(bem, data, a11y) %}

<nav class="Menu {{bem.mix}} {{bem.mod}}">
  <img class="Menu-Icon" src='../assets/icon_list_m@1x.svg' alt="Icon-Menu"/>
  <ul class="Menu-ListItem">

    {% for item in data.items %}

      {% if item.isActive %}
        {% set state = "Menu-Item_state_active" %}
      {% else %}
        {% set state = '' %}
      {% endif %}

      <li class="Menu-Item {{state}}">
        <a href="#">{{ item.title }}</a>
      </li>
    {% endfor %}

  </ul>
</nav>

{% endmacro %}