{% from "components/Menu/Menu.njk" import Menu %}

<footer class="Footer">
  {{ Menu({ mix: "Footer-Menu", mod: "Menu_size_small"}, footerNavigation)}}
  <p class="Footer-Copyright">&copy;2001-2017 OOO&laquo;Яндекс&raquo;</p>
</footer>