.Arrow {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 0;
  pointer-events: none;

  &_active {
    pointer-events: auto;

    .Arrow-Icon {
      opacity: 1;
    }
  }

  &_direction_right {
    transform: rotate(180deg);
  }
}
