{% from "components/Arrow/Arrow.njk" import Arrow %}

{% macro Switch(bem, data, a11y) %}

  <div class="Switch {{bem.mix}} {{bem.mod}}" aria-label="{{a11y.main}}">
    {{ Arrow({mix: "Switch-Arrow", mod: "Arrow_direction_left"}, {}, {main: "стрелка влево"}) }}
    {{ Arrow({mix: "Switch-Arrow", mod: "Arrow_direction_right"}, {}, {main: "стрелка вправо"}) }}
  </div>

{% endmacro %}