{% from "components/Filter/Filter.njk" import Filter as Presets %}

{% macro RangeController(bem, data, a11y) %}

  <div class="RangeController {{ bem.mod }}  {{bem.mix}}">
    <div class="RangeController-Presets">
      {{Presets({mix: "RangeController-Filter"}, data.presets)}}
    </div>
    <div class="RangeController-ControllerBlock">
      <input
        type="range"
        class="RangeController-Scale RangeController-Scale_type_{{data.type}}"
        min="0"
        max="100"
        data-min="{{ data.boundaryCondition.low }}"
        data-max="{{ data.boundaryCondition.high }}"
      />

      {% if data.type == "sun" %}
          <div class="RangeController-LowBoundaryCondition RangeController-LowBoundaryCondition_type_sun">
            <img class="Modal-Icon" src="../assets/icon_sun_min.svg" alt="low-sun-icon">
          </div>
          <div class="RangeController-HightBoundaryCondition RangeController-HightBoundaryCondition_type_sun">
            <img class="Modal-Icon" src="../assets/icon_sun_max.svg" alt="hight-sun-icon">
          </div>
        {% else %}
          <div class="RangeController-LowBoundaryCondition">{{ data.boundaryCondition.low }}</div>
          <div class="RangeController-HightBoundaryCondition">{{ data.boundaryCondition.high }}</div>
        {% endif %}
    </div>
  </div>

{% endmacro %}