{% macro Logo(bem) %}

<div class="Logo {{bem.mix}} {{bem.mod}}">
  <a href="#" aria-label="на главную страницу сайта Яндекс Дом">
    <img src="./assets/Yandex_Home.svg" class="Logo-Image" alt="ЯндексДом"/>
  </a>
</div>

{% endmacro %}
