{% macro Logo(bem) %}

<div class="Logo {{bem.mix}} {{bem.mod}}">
  <a href="#" aria-label="на главную страницу сайта Яндекс Дом">
    <img src="./assets/Яндекс Дом.svg" class="Logo-Image" alt="Яндекс Дом"/>
  </a>
</div>

{% endmacro %}
