{% from "components/PanelsGrid/PanelsGrid.njk" import PanelsGrid %}
{% from "components/PanelsRow/PanelsRow.njk" import PanelsRow %}
{% from "components/StateWidget/StateWidget.njk" import StateWidget %}

{% macro PageContent(bem, data) %}

<div class="PageContent">

  <main class="PageContent-Main" role="main">
    <h2 class="PageContent-MainTitle">Главное</h2>
    {{ StateWidget({}, data.stateWidget) }}
  </main>
  {{ PanelsGrid({mix: 'PageContent-PanelsGrid'}, data.panelsGrid) }}
  {{ PanelsRow({mix: 'PageContent-PanelsRow'}, data.panelsRow) }}

</div>

{% endmacro %}