{% from "components/GridSlider/GridSlider.njk" import GridSlider %}
{% from "components/RowSlider/RowSlider.njk" import RowSlider %}
{% from "components/StateWidget/StateWidget.njk" import StateWidget %}

{% macro PageContent(bem, data) %}

<div class="PageContent">

  <main class="PageContent-Main" role="main">
    <h2 class="PageContent-MainTitle">Главное</h2>
    {{ StateWidget({}, data.stateWidget) }}
  </main>
  {{ GridSlider({mix: 'PageContent-GridSlider'}, data.GridSlider) }}
  {{ RowSlider({mix: 'PageContent-RowSlider'}, data.panelsRow) }}

</div>

{% endmacro %}