<div class="PageContent">
  <main class="Main" role="main">
    <h2 class="Main-Title">Главное</h2>
  </main>
  {% include "components/PanelsGrid/PanelsGrid.njk" %}
  {% include "components/PanelsRow/PanelsRow.njk" %}
</div>