.Filter {
  &-TypesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &-Type {
    flex-shrink: 0;
  }

  &-Arrow {
    width: 5px;
    height: 5px;
    transform: rotate(-45deg) translatex(25%);
    margin-left: 4px;
    border: 2px solid transparent;
    border-left-color: $text-color_primary;
    border-bottom-color: $text-color_primary;
    display: none;
  }

  &-Button {
    font-size: 0.81rem;
    margin: 0 10px 0 0;
    padding: 7px 13px;
    border-radius: $border-radius_primary;
    background-color: $background-color_secondary;
    border: 0;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: darken($background-color_secondary, 3%);
    }

    &:active {
      color: $text-color_primary;
    }

    &_state_active {
      background-color: $accent-color;

      &:hover,
      &:active {
        background: $accent-color_dark;
      }
    }
  }

  &_hidden {
    display: none;
  }
}

@media (max-width: 650px) {
  .Filter {
    &-Button {
      &:hover {
        background-color: $background-color_secondary;
      }

      &_state_active {
        &:hover {
          background-color: $accent-color;
        }
      }
    }

    &_type_collapse {
      .Filter-Button_state_active {
        .Filter-Arrow {
          display: inline-block;
        }
      }

      .Filter-Button:not(.Filter-Button_state_active) {
        display: none;
      }

      .Filter-TypesList {
        flex-direction: column;
        position: absolute;
        top: -16px;
        right: 0;
        z-index: 2;
      }

      .Filter-TypesList_open {
        .Filter-Type {
          margin-bottom: 15px;
        }

        .Filter-Button {
          display: block;
          box-shadow: 0 2px 6px 0 #{rgba(#c5baba, 0.5)};

          &:focus {
            box-shadow: 0 0 2px 2px #{rgba(#4a5cd0, 0.7)};
          }
        }
      }

      .Filter-Type {
        display: inherit;
        justify-content: flex-end;
        order: 2;
      }

      .Filter-Type_state_active {
        order: 1;
      }
    }
  }
}
