{% macro Filter(bem, data, a11y) %}

  <div class="Filter {{bem.mix}} {{bem.mod}}">
    <ul class="Filter-TypesList">

      {% for item in data.filterTypes %}

        {% if item.isActive %}
          {% set state = "Filter-Button_state_active" %}
        {% else %}
            {% set state = '' %}
        {% endif %}

        <li class="Filter-Type">
          <button class="Filter-Button {{state}}" data-tag="{{item.tag}}"><b>{{item.value}}</b><span class="Filter-Arrow"></span></button>
        </li>
      {% endfor %}

    </ul>
  </div>

{% endmacro %}