.Filter {
  &-TypesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &-Type {
    flex-shrink: 0;
  }

  &-Arrow {
    width: 5px;
    height: 5px;
    transform: rotate(-45deg) translatex(25%);
    margin-left: 4px;
    border: 2px solid transparent;
    border-left-color: $text-color_primary;
    border-bottom-color: $text-color_primary;
    display: none;
  }

  &-Button {
    font-size: 0.81rem;
    margin: 0 10px 0 0;
    padding: 7px 13px;
    border-radius: $border-radius_primary;
    background-color: $background-color_secondary;
    border: 0;

    &:hover {
      cursor: pointer;
    }

    &_state_active {
      background-color: $accent-color;
      &:hover {
        background: $accent-color_dark;
      }
    }
  }

  &_hidden {
    display: none;
  }
}
