{% macro Filter(bem, data, a11y) %}

  <div class="Filter {{bem.mix}} {{bem.mod}}">
    <ul class="Filter-TypesList" aria-label="{{a11y.filterList}}">

      {% if a11y.tabIndex == "-1" %}
        {% set tabIndex = "-1" %}
      {% else %}
        {% set tabIndex = "0" %}
      {% endif %}

      {% for item in data.filterTypes %}

        {% if item.isActive %}
          {% set state = "Filter-Button_state_active" %}
        {% else %}
            {% set state = '' %}
        {% endif %}

        <li class="Filter-Type">
          <button class="Filter-Button {{state}}" data-tag="{{item.tag}}" tabindex="{{tabIndex}}" type="button"><b>{{item.value}}</b><span class="Filter-Arrow"></span></button>
        </li>
      {% endfor %}

    </ul>
  </div>

{% endmacro %}