.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($text-color_primary, 0.5);
  z-index: 99;

  &-Content {
    border-radius: $border-radius_primary;
    background-color: $background-color_primary;
    width: 630px;
    box-sizing: border-box;
    padding: 25px;
  }

  &-Title {
    font-size: 1.67rem;
    margin: 0;
  }

  &-Header {
    position: relative;
  }

  &-Form {
    display: flex;
    flex-direction: column;
  }

  &-ButtonBlock {
    margin-top: 20px;
    display: flex;
    width: 100%;
  }

  &-IconWrapper {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
  }

  &-Icon {
    $icon-size: 45px;
    width: $icon-size;
    height: $icon-size;
  }

  &-Description {
    font-size: 0.88rem;
    margin: 6px 0 0 0;
  }

  &-Value {
    font-size: 2.25rem;
    margin: 0 15px 0 0;
  }

  &-Button {
    flex: 1;

    &:first-child {
      margin-right: 16px;
    }
  }

  &-Controller {
    margin-top: 20px;
  }

  &_hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    padding: 0;
    width: 1px;
    white-space: nowrap;
  }

  &_blure {
    filter: blur(10px);
  }
}

@media (max-width: 650px) {
  .Modal {
    &-Form {
      height: calc(100% - 40px);
    }

    &-Content {
      width: 334px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &-Description {
      font-size: 0.75rem;
      margin: 6px 0 0 0;
    }

    &-Title {
      font-size: 1.13rem;
      margin: 0;
    }

    &-IconWrapper {
      display: none;
    }

    &-Controller {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }

    &-ButtonBlock {
      margin-top: 0;
      flex-direction: column;
    }

    &-Button {
      margin-top: 15px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
