.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  overflow: hidden;

  &-Content {
    border-radius: $border-radius_primary;
    background-color: $background-color_primary;
    width: 630px;
    box-sizing: border-box;
    padding: 25px;
  }

  &-Title {
    font-size: 1.67rem;
    margin: 0;
  }

  &-Header {
    position: relative;
  }

  &-Form {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &-ButtonBlock {
    margin-top: 20px;
    display: flex;
    width: 100%;
  }

  &-IconWrapper {
    display: flex;
    position: absolute;
    align-items: center;
    top: -1px;
    right: -3px;
  }

  &-Icon {
    $icon-size: 45px;
    width: $icon-size;
    height: $icon-size;
  }

  &-Description {
    font-size: 0.88rem;
    margin: 6px 0 0 0;
  }

  &-Value {
    font-size: 2.25rem;
    margin: 0;
  }

  &-Button {
    flex: 1;

    &:first-child {
      margin-right: 16px;
    }
  }

  &-Controller {
    margin-top: 20px;
    .RangeController {
      margin-bottom: -6px;
    }
  }

  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($text-color_primary, 0.5);
  }

  &_hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    padding: 0;
    width: 1px;
    white-space: nowrap;
  }

  &_animated {
    transition: 0.15s linear filter;
    filter: blur(0);
  }

  &_blure {
    filter: blur(5px);
  }

  &_body {
    overflow: hidden;
  }
}

@media (max-width: 650px) {
  .Modal {
    &-Form {
      height: calc(100% - 40px);
    }

    &-Content {
      width: 334px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 21px 20px;
      min-height: 310px;
    }

    &-Description {
      font-size: 0.75rem;
      margin: 6px 0 0 0;
    }

    &-Title {
      font-size: 1.13rem;
      margin: 0;
    }

    &-IconWrapper {
      display: none;
    }

    &-Controller {
      display: flex;
      margin-top: 13px;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }

    &-ButtonBlock {
      margin-top: 0;
      flex-direction: column;
    }

    &-Button {
      margin-top: 15px;
      flex-shrink: 0;

      &:first-child {
        margin-right: 0;
      }
    }

    .Filter-Button b {
      font-weight: normal;
    }
  }
}
