{% macro Termometr(bem, data, a11y) %}

  <div class="Termometr {{bem.mix}} {{bem.mod}}" aria-label="температура {{data.title}}">
    <p class="Termometr-Title">{{data.title}}</p>
    <p class="Termometr-Value">
      {{data.temperature}}
      {% if data.weather %}
        {% if data.weather == "cloud-drizzle" %}
          {% set ariaLabel = "облочно возможен дождь" %}
        {% endif %}
        <span class="Termometr-Icon" role="icon"><img src="./assets/{{data.weather}}.svg" alt="погодные условия: {{ariaLabel}}"/></span>
      {% endif %}
    </p>
  </div>

{% endmacro %}