{% from "components/Termometr/Termometr.njk" import Termometr %}
{% from "components/VerticalSlider/VerticalSlider.njk" import VerticalSlider %}

{% macro StateWidget(bem, data) %}

<section class="StateWidget {{ bem.mix }} {{ bem.mod }}">
  <div class="StateWidget-StateBlock">
    <div class="StateWidget-HomeState">
      <p class="StateWidget-Greet"><b>{{ data.greeting }}</b></p>
      <p class="StateWidget-Description">{{ data.description }}</p>
    </div>
    <div class="StateWidget-Weather">
      {{Termometr({mix: "StateWidget-Termometr"}, data.weather.home)}}
      {{Termometr({mix: "StateWidget-Termometr"}, data.weather.outdoor)}}
    </div>
  </div>
  {{ VerticalSlider(
    { mix: "StateWidget-VerticalSlider" },
    data.verticalSlider,
    { itemList: "список ближайших сценариев"}
  )}}
</section>

{% endmacro %}