{% from "components/Termometr/Termometr.njk" import Termometr %}

{% macro StateWidget(bem, data) %}

<section class="StateWidget {{ bem.mix }} {{ bem.mod }}">
  <div class="StateWidget-StateBlock">
    <div class="StateWidget-HomeState">
      <h1 class="StateWidget-Greet">{{ data.greeting }}</h1>
      <p class="StateWidget-Description">{{ data.description }}</p>
    </div>
    <div class="StateWidget-Weather">
      {{Termometr({mix: "StateWidget-Termometr"}, data.weather.home)}}
      {{Termometr({mix: "StateWidget-Termometr"}, data.weather.outdoor)}}
    </div>
  </div>
  <div class="StateWidget-DeviceList">
  </div>
</section>

{% endmacro %}