.RowSlider {
  &-ItemsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &-Header {
    display: flex;
  }

  &-Item {
    margin: 0 15px 0 0;
    padding: 0;
  }

  &-Title {
    margin: 0 0 20px;
    font-size: 1.13rem;
  }
}
