.RowSlider {
  &-ItemsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 80px);
  }

  &-Item {
    margin: 0 15px 0 0;
    padding: 0;
  }

  &-Title {
    margin: 0;
    font-size: 1.13rem;
  }

  &-Filter {
    margin-left: 15px;
    flex: 1;
  }

  &-Row {
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    margin: 0 0 0 -39px;
    padding: 20px 0 25px 40px;
  }

  &-Switch {
    position: relative;
    top: 5px;
    right: 11px;
  }
}

@media (max-width: 850px) {
  .RowSlider {
    &-Row {
      margin: 0 0 0 -20px;
      padding: 20px 0 25px 20px;
    }
  }
}
