// CONSTANTS
$pan-transition: 0.5s linear transform;

// COLORS
$text-color_primary: #333333;
$text-color_primary_light: rgba(#333333, 0.6);
$text-color_secondary: #858585;
$background-color_primary: #ffffff;
$background-color_secondary: #f7f7f7;
$divider-color: #f0f0f0;
$accent-color: #ffd93e;
$accent-color_dark: #ffcd00;

// sizes
$font-size_primary: 16px;
$font-size_mobile: 11px;
$border-radius_primary: 20px;
$font-family: 'Arial', 'Helvetica', 'Nimbus Sans L', sans-serif;

html {
  font-size: $font-size_primary;
  font-family: $font-family;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.Page-summary {
  margin: 0;
  color: $text-color_primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

*:active,
*:hover,
*:focus {
  outline: none;
}

*:focus {
  box-shadow: 0 0 2px 2px #{rgba(#4a5cd0, 0.7)};
}

@media (max-width: 850px) {
  .Page-summary {
    overflow-y: scroll;
  }
}
