{% extends "layouts/default.njk" %}
{% from "pages/index/PageContent.njk" import PageContent as Content %}
{% from "components/Modal/Modal.njk" import Modal %}

{% block Modal %}
  {{Modal({}, modal, {form: "Настройка работы устройства"})}}
{% endblock %}

{% block PageContent %}
  {{Content({}, content)}}
{% endblock %}
`