<!DOCTYPE html>
<html lang="ru">

{% block Head %}
  {% include "partials/head.njk" %}
{% endblock %}

<body class="Page-{{ pageName }}">
  {% block Modal %}{% endblock %}

  {% block Header %}
    {% include "partials/Header/Header.njk" %}
  {% endblock %}

  {% block PageContent %}{% endblock %}

  {% block name %}
    {% include "partials/Footer/Footer.njk" %}
  {% endblock %}
</body>
<script src="./js/main.min.js"></script>

</html>