<!DOCTYPE html>
<html lang="ru">

{% block Head %}
  {% include "partials/head.njk" %}
{% endblock %}

<body>
  {% block Modal %}{% endblock %}

  <div class="Page-{{ pageName }}">

    {% block Header %}
      {% include "partials/Header/Header.njk" %}
    {% endblock %}

    {% block PageContent %}{% endblock %}

    {% block name %}
      {% include "partials/Footer/Footer.njk" %}
    {% endblock %}
  </div>
  <script src="./js/main.min.js"></script>
</body>

</html>